.course-card img {
  width: 320px;
  height: 180px;
  border-radius: 10px;
}

.course-card {
  border-radius: 10px;
  width: 320px;
  box-shadow: 5px 5px 5px #aaaaaa;
  background-color: whitesmoke;
}

.info {
  padding-left: 20px;
}
.bold {
  font-weight: bold;
}
