.container {
  display: grid;
  grid-template-columns: 5fr 3fr;
  background-color: #3a4454;
  color: white;
  padding-left: 80px;
}

.nav-container {
  padding: 28px 0;
}

.nav {
  color: white;
  text-decoration: none;
  padding-right: 25px;
  font-size: 18px;
}
